
// family font
$family: 'Nunito Sans', sans-serif;

// weight 300
$light: 300;

// weigh 600
$semibold: 600;

// weight 800
$bold: 800;

// Use example
// .light-text {
//     font-family: font.Nunito.$family;
//     font-weight: font.Nunito.$light;
// }